* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol {
  list-style: none;
}

body,
button,
input,
select,
p,
pre,
textarea {
  font-size: 18px;
  margin: 0px;

  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.body {
  min-height: 100vh;
  background-size: 100% 100%;
  background: linear-gradient(
    90deg,
    #34009c,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    #34009c
  );
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
p,
pre {
  color: #fff;
}

a {
  text-decoration: none;
}

label {
  color: #000;
}
.svgIcon {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}
.wiki__nav {
  height: 4rem;
  border-bottom: 0.2px solid #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}
.wiki__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.wiki__links li {
  position: relative;
  margin: 0 1rem;
  text-align: center;
}
.wiki__links li::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0%;
  height: 0.1rem;
  background: #fff;
  transition: 0.4s;
}
.light-mode .wiki__links li::after {
  background: #000;
}
.wiki__links li:hover::after {
  width: 100%;
}
.wiki__links-icon {
  display: none;
}

@media screen and (max-width: 769px) {
  .wiki__links-icon {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    border-radius: 5px;
  }

  .wiki__links {
    position: absolute;
    top: 5rem;
    right: 10%;
    left: 10%;
    z-index: 1000;
    flex-direction: column;
    background: #eee;
    box-shadow: 1px 0 16px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    transform: scale(0);
    transition: 0.3s;
  }
  .wiki__nav {
    flex-direction: row-reverse;
    padding-right: 10px;
  }

  .wiki__links.show {
    transform: scale(1);
  }
  .wiki__links li {
    display: flex;
  }
  .wiki__links li:last-child::after {
    display: none;
  }
  .wiki__links li a,
  .wiki__links li Button {
    color: #000;
    text-align: center;
    width: 100%;
    padding: 1rem;
  }

  .wiki__content {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 426px) {
  .wiki__links {
    left: 5%;
    right: 5%;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Form Styles */

.form-inline {
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
}
.form-inline .form__info {
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
}
.form-inline .form__info i {
  margin: 1rem 0 2rem;
  font-size: 3rem;
  color: #fff;
}
.form-inline .form__text h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 0.5rem;
  text-align: center;
}
.form-inline .form__text p {
  text-align: center;
}
.form__control {
  width: 100%;
  max-height: 2.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #fff;
  background: none;
  margin-bottom: 1.3rem;
  padding: 0.2rem;
  position: relative;
}
.full {
  grid-column: -1 / 1;
}
.form__control-label {
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.056rem;
  position: absolute;
  top: 25%;
  bottom: 20%;
  left: 8%;
  transition: 0.3s;
  color: #fff;
  z-index: -1;
}
.form__control.textarea {
  border: none;
}
.form__control input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.2rem 0.5rem;
  color: #fff;
}
.form__control input::placeholder {
  font-size: 0.8rem;
  color: #ddd;
}
.form__control i {
  color: #fff;
  padding-top: 0.2rem;
}
.form__control input:focus ~ .form__control-label,
.form__control input:valid ~ .form__control-label {
  top: -1rem;
  left: 0;
  color: #fff;
  font-size: 0.8rem;
}
.secform .form__control-label {
  left: 2%;
}
.secform .form__control input:focus ~ .form__control-label,
.secform .form__control input:valid ~ .form__control-label {
  color: #010f60;
}

.submit-btn {
  margin-top: 1.5rem;
  width: 90%;
  background-color: #fff;
  color: #010f60;
  padding: 0.5rem;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 1rem;
}
.submit-btn:hover {
  background-color: #010f60;
  color: #fff;
  text-decoration: none;
}

.form__control.select {
  flex-direction: column;
  padding: 0;
  justify-content: flex-start;
}

.submit-btn {
  width: 100%;
  grid-column: -1 / 1;
}

.form__control select {
  cursor: pointer;
  padding: 0.2rem;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
}
.form__control select option {
  cursor: pointer;
  color: #000;
  border: none;
}
.form__control:last-of-type {
  grid-column: -1 / 1;
}

.container *,
.wiki *,
.Home * {
  animation: opacity 0.3s 0.05s forwards;
}
@keyframes opacity {
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .form__control {
    width: 90%;
    color: #010f60;
  }
}
.errMessage {
  color: red;
  padding: 10px;
}
/* Shift Forms */

.long__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}
.time-control {
  position: relative;
}
.time-control .date,
.time-control .time {
  position: absolute;
  font-size: 0.8rem;
  top: -1rem;
}

.time-control .time {
  left: 50%;
}

.submit-btn {
  position: relative;
}
.svgIcon {
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
  height: 1.7rem;
  width: 1.8rem;
}
form::-webkit-scrollbar-thumb {
  background: #342c6d;
  border-radius: 2rem;
}

form::-webkit-scrollbar-track {
  background-color: #fff;
}

form::-webkit-scrollbar {
  border-radius: 2rem;
  width: 10px;
  height: 0.5rem;
  background-color: #352d77;
}
textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.4rem;
  border-radius: 0.1rem;
  border: 0.1px solid #010f60;
  outline: none;
  color: #010f60;
}
textarea::placeholder {
  font-size: 0.9rem;
}

/* Status Colors */
.initial,
.not {
  background-color: #e9b03d;
}
.solution {
  background-color: #5ba1ba;
}
.closed,
.tested {
  background-color: #007e33;
}
.pending {
  background-color: rgb(187, 108, 108);
}

/* Light Mode */

.light-mode .nav-logo {
  filter: invert(1);
}

.light-mode .wiki__nav {
  background: #fff;
  border: 0.2px solid rgba(0, 0, 0, 0.4);
}
.light-mode .wiki__menu .menu__item button {
  color: #010f60;
  border-color: #010f60;
}
.light-mode .sub-menu {
  color: #010f60;
  border-color: #010f60;
}
.light-mode .menu__item.submenu-wrapper {
  border-color: #010f60;
}
.light-mode .sub-menu li span::after {
  background-color: #34009c;
}
.light-mode .sec__title {
  color: #010f60;
}
.light-mode .modal {
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.light-mode .wiki__item {
  background-color: #fff;
  box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.light-mode .wiki__item-title,
.light-mode .wiki__item ul li {
  color: #030d44;
}
.light-mode .Home h1,
.light-mode .Home p,
.light-mode .Home h3,
.light-mode h4,
.light-mode .use-case__into p {
  color: #000;
}
.light-mode .person__info h4 {
  color: #fff;
}
.light-mode .pdfs__wrapper input[type="text"] {
  border: 1px solid rgb(136, 136, 136);
}
.light-mode .pdfs__wrapper .upload-btn {
  background: #010f60;
  color: #fff;
  border: 1px solid #010f60;
}
.light-mode .pdfs__wrapper .upload-btn:hover {
  background: #fff;
  color: #010f60;
}
.light-mode .authButton,
.light-mode .wiki__links li a {
  color: #000;
}
.light-mode .theme-btn {
  color: #000;
}
.light-mode .wiki__links-icon {
  color: #000;
}

/* Wiki Page */

.issue {
  background: #cc0000;
}
.not-issue {
  background: #00c851;
}
/* Playbooks */
.playbooks {
  width: 80%;
  margin: 1rem auto;
}
.playbooks .bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.playbooks .book__data {
  display: flex;
  flex-direction: column;
}
.playbooks img {
  width: 100%;
}
.book__img {
  width: auto;
}

/* Incident Main */
.incident-sec__wrapper h3 {
  display: block;
}

/* PDF Styles */

.pdfs__wrapper {
  width: 80%;
  margin: 1rem auto;
}

.pdfs__top h4 {
  margin-bottom: 0.6rem;
  font-weight: 400;
}
.pdfs__top input:first-of-type {
  padding: 0.3rem 0.8rem;
  border: none;
  outline: none;
  border-radius: 1rem;
}
.pdfs__top input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
.pdfs__top input[type="file"] {
  color: #000a4a;
}

.pdfs__top input[type="file"]::before {
  content: "Choose File";
  display: inline-block;
  background: #000a4a;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 7px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 10pt;
}
.pdfs__container {
  margin: 2rem 0;
}

.upload-btn {
  display: block;
  width: auto;
  padding: 0.3rem 1rem;
  text-transform: capitalize;
  border-radius: 2rem;
}

.pdfs__top .sec__title {
  font-size: 2rem;
}
.pdf-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.pdf-wrapper .delete-btn {
  padding: 0.3rem 1rem;
  color: rgb(199, 32, 32);
  background: none;
  border-radius: 1rem;
  align-self: flex-start;
  font-size: 1.7rem;
}
.pdf {
  width: 90%;
  border-radius: 0.5rem;
}
.pdf {
  position: relative;
  padding: 1rem;
  border: 0.1px solid rgb(124, 124, 124);
  height: 3.5rem;
  transition: 0.3s;
  overflow: hidden;
}
.pdf .open-pdf {
  font-size: 1.2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}
.pdf embed {
  width: 100%;
  margin: 2rem auto;
}
.pdf p {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

/* Table */

.shiftHand {
  width: 80%;
  margin: 0 auto;
}
.table__wrapper {
  width: 100%;
  margin: 1rem auto;
  max-height: 68vh;
  padding-right: 0.5rem;
  overflow: auto;
}
.table__row:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.table__row:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.table {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.table__wrapper::-webkit-scrollbar-thumb {
  background: #40358e;
  border-radius: 2rem;
}

.table__wrapper::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 2rem;
}

.table__wrapper::-webkit-scrollbar {
  width: 10px;
  height: 0.5rem;
  background-color: #40358e;
}

.table__row {
  width: auto;
  display: flex;
}
.col {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.3rem;
  border-right: 1px solid #000;
}
.col:last-of-type {
  border-right: 0;
}
.table__row:nth-child(odd) {
  background: rgb(134, 130, 130);
}
.table__row:nth-child(even) {
  background: rgb(70, 67, 67);
}
.row {
  display: flex;
  width: 100%;
}
.top-row {
  flex-direction: row;
  position: relative;
}
.top-row .col {
  width: 100%;
}

.bottom-row {
  display: flex;
  flex-wrap: wrap;
  height: 0;
  transition: 0.4s;
  overflow: hidden;
}
.bottom-row div {
  width: 100%;
  word-break: break-all;
  padding: 0.5rem 1rem;
}
.row-btn {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  cursor: pointer;
  z-index: 100;
}
.table__row {
  width: 100%;
  flex-direction: column;
}
.health-check-row {
  flex-direction: row;
}
.table__row.header {
  width: 100%;
  flex-direction: row;
}
.col h4 {
  text-align: center;
  font-size: 1rem;
}
.table__row:not(.table__row:first-child) .col {
  position: relative;
  padding-right: 1rem;
}
.table__row:not(.table__row:first-child) .col p {
  transition: 0.3s;
  word-break: break-all;
  text-transform: capitalize;
  text-align: center;
  max-height: 1.8rem;
  max-width: 200px;
  margin: auto;
  overflow: hidden;
}

/* Wiki Page */

.reports .pdfs__wrapper {
  width: auto;
}

.menu__icon {
  color: #fff;
  letter-spacing: 0.06rem;
  cursor: pointer;
  text-align: left;
  padding: 0.5rem 0;
  border-bottom: 1px solid #fff;
  width: 7.4rem;
  display: none;
}
button {
  color: #fff;
  background: inherit;
  text-transform: capitalize;
}
.wiki__content-wrapper {
  display: flex;
  flex-direction: column;
}
.wiki__content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.wiki__menu {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 0;
  opacity: 0;
  transition: height 0.3s;
  overflow: hidden;
}
.wiki__menu.show {
  opacity: 1;
  height: 100%;
}
.wiki__menu-wrapper {
  width: auto;
}
.wiki__menu .menu__item {
  width: 100%;
}
.wiki__menu .menu__item button {
  padding: 0.8rem 0.4rem;
  text-align: left;
  background: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  border-bottom: 1px solid #fff;
  position: relative;
}
.sub-menu-icon {
  position: absolute;
  right: 0.3rem;
  top: 38%;
  bottom: 40%;
  z-index: -1;
}
.wiki__menu .menu__item button i:first-child {
  margin-right: 0.25rem;
}
.wiki__menu .menu__item button:hover {
  background: #eee;
  color: #000;
}
.wiki__items {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  justify-content: center;
}
.wiki__item {
  width: 260px;
  height: 170px;
  background: #000a4a;
  margin: 1rem;
  padding: 5px 1.3rem;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.wiki__item:hover {
  transform: scale(1.1);
}
.wiki__item-title {
  color: #fff;
  padding: 1rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  height: 100%;
  display: grid;
  place-items: center;
}
.wiki__item-title.top {
  height: auto;
  display: block;
  text-align: left;
}

.wiki__item ul {
  padding: 0 0.5rem;
  width: 80%;
  margin: auto;
}
.wiki__item ul li {
  text-align: left;
  font-size: 0.8rem;
  color: #fff;
  margin-top: 0.5rem;
}
.wiki__item ul li:hover {
  transform: scale(1.06);
}

.sub-menu {
  color: #fff;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.menu__item.submenu-wrapper {
  border-bottom: 1px solid #fff;
}
.sub-menu.show {
  border-top: 0px;
  padding: 0 0.5rem;
}
.sub-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: left;
  transition: 0.3s;
}
.sub-menu li span {
  position: relative;
}

.sub-menu li span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 0.1rem;
  background: #fff;
  width: 0;
  transition: 0.3s;
}

.sub-menu li.active span::after {
  width: 100%;
}
.sub-menu li:hover {
  color: #566cff;
}
.sub-menu li:last-child {
  margin: 0;
}
.menu__item.submenu-wrapper button {
  border-bottom: none;
}
.use-case__panar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem;
}
.use-case__panar .title {
  width: 12rem;
  padding: 0.7rem;
  text-transform: capitalize;
  text-align: center;
}
.use-case__panar .title:first-child {
  background: #000a4a;
  transform: translateX(-2rem);
}
.use-case__panar .title:nth-child(2) {
  background: #2c3eaf;
  margin: 0.6rem 0;
  transform: translateX(2rem);
}
.use-case__panar .title:nth-child(3) {
  background: #11207e;
  transform: translateX(6rem);
}
.use-case__into p {
  margin-bottom: 1rem;
}
.useCase {
  width: 80%;
  margin: 1rem auto;
}
.form-btn {
  background: #40358e;
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  text-transform: capitalize;
  border: 1px solid #40358e;
}
.sec__title {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}
.form-btn:hover {
  background: #fff;
  color: #40358e;
}
/* Communication and Reports */
.communication,
.reports {
  width: 80%;
  margin: 1rem auto;
}

/* Media Queries */

@media screen and (max-width: 1380px) {
  .pdfs__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .useCase {
    width: 70%;
  }
  .menu__icon {
    display: block;
  }
  .wiki__menu-wrapper {
    width: 80%;
    margin: auto;
  }
  .wiki__menu {
    width: 60%;
    margin: auto;
  }
  .menu__icon {
    margin: auto;
  }
  .shiftHand {
    width: 90%;
  }
  .table__wrapper {
    overflow: auto;
  }
  .table {
    min-width: 65rem;
  }
  .sec__title {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 769px) {
  .wiki__content {
    flex-direction: column;
    height: auto;
  }
  .wiki__items {
    margin-top: 1rem;
    width: 90%;
  }
  .wiki__item {
    padding: 5px 1rem;
    margin: 0 1rem 1rem;
  }
  .wiki__menu-wrapper {
    width: 100%;
    height: 100%;
  }
  .wiki__menu {
    height: 0;
    transform: scale(0);
    transition: transform 0.4s;
  }
  .wiki__menu.show {
    transform: scale(1);
    width: 90%;
    margin: auto;
    height: 100%;
    border: none;
    background: none;
  }
  .wiki__menu .menu__item button {
    padding-bottom: 1rem;
  }
  .menu__icon {
    display: block;
    margin-left: 1rem;
  }
  .useCase {
    width: 90%;
  }
}
